<div ng-controller="LoginController as vm">
    <div ng-if="vm.authenticationService.IsAuthenticated==false">
        <h3>Login</h3>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="text" class="form-control" ng-model="vm.Login.Logon" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" ng-model="vm.Login.Password" id="pwd">
            </div>
            <button type="submit" class="btn btn-default" ng-click="vm.onClick()">Submit</button>
        </form>
    </div>
    <div ng-if="vm.authenticationService.IsAuthenticated==false">
        you are still logged in.
    </div>
</div>